<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HepsiBurada">

    <test name="Hepsiburada case working Tests">
        <classes>
            <class name="com.hburada.testCases.HburadaTestCase"/>
            <class name="com.hburada.testCases.HbApiTest"/>
        </classes>
    </test> <!-- Test -->

</suite>